.header {
	width: 100vw;
	height: 40px;
	background-color: var(--primary);
	color: #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 9999999999;
}
.header h1 {
	font-size: 1.2rem;
	padding-top: 5px;
}
.header > div span {
	font-size: 0.9rem;
	text-decoration: underline #000;
	color: #222;
}
.header > div {
	display: flex;
	align-content: center;
	align-items: center;
	gap: 5px;
}

.header img {
	width: 30px;
	border-radius: 50%;
}
.nav {
	z-index: 999999999;
	background-color: var(--primary);
	width: 100vw;
	min-height: 70px;
	position: fixed;
	top: -300px;
	left: 0;
	right: 0;
	opacity: 0;
	border-top: 1px solid #000;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition: all 1s;
	padding: 10px 0;
}
.nav a {
	text-decoration: none;
	color: black;
	width: 70%;
	min-height: 30px;
	border-radius: 8px;
	padding: 9px 2px 0 2px;
	margin: 2px;
	text-align: center;
	background-color: rgba(248, 127, 44, 0.45);
	transition: all 0.5s;
}
.nav a:hover {
	background-color: rgb(247, 147, 79);
	scale: 1.03;
	color: white;
	border-bottom: 3px solid var(--primary-low);
}
.hideSide {
	position: fixed;
	top: 40px;
	left: 0;
	right: 0;
	opacity: 1;
}
.section {
	background-color: transparent;
	min-height: 100vh;
	/*	clip-path: ellipse(100% 85% at 25% 15%); */
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	padding: 90px 20px 0 20px;
	text-align: center;
}


.burger{
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
}
.c1, .c2, .c3{
    width: 18px;
    height: 2px;
    background-color: white;
    transition: all 0.4s;
}

.hideMePls .c2{
    opacity: 0;
}
.hideMePls .c1{
    transform: translateY(5px) rotateZ(45deg);
}
.hideMePls .c3{
    transform: translateY(-5px) rotateZ(-45deg);
}

