.main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: calc(100% - 30px);
        margin: 100px 15px;
}
.link {
        background-color: var(--hero-bg);
        text-decoration: none;
        padding: 6px 2px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 6px;
        text-decoration: none;
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
        transition: all 0.5s;
}
.link a{
    text-decoration: none;
}
.link:hover {
        scale: 1.02;
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.main ul:active .link:not(:hover){
    filter: blur(10px);
}
.main li, .main ul{
    width: 100%;
    list-style: none;
}
.little, .link{
    text-align: center;
}
